h1 {
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 40px;
  }
  
  h2 {
    color: #051622;
    font-size: 22px;
  }
  
  html {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to bottom right, #116466, #FFCB9A);
    width: 100%;
    height: 100%;
  }
  
  a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    margin-left: 50px;
  }
  a:hover {
    color: blue;
    text-decoration: none;
    font-size: 18px;
    margin-left: 50px;
  }

  #box {
    width: 80%;
    height: 420px;
    padding: 20px;
    margin: auto;
    background-color: #D9B08C;
    border: 3px solid #051622;
    outline-style: double;
    outline-color: #051622;
    outline-width: 7px;
  }
  